name: WordPress Coding Standards

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  phpcs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pluginpass-pro-plugintheme-licensing

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: composer-${{ hashFiles('pluginpass-pro-plugintheme-licensing/composer.lock') }}

      - run: composer install

      - run: vendor/bin/phpcs --config-set installed_paths vendor/wp-coding-standards/wpcs

      - run: vendor/bin/phpcs --standard=WordPress inc
