name: Psalm

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  psalm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pluginpass-pro-plugintheme-licensing

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: composer-${{ hashFiles('pluginpass-pro-plugintheme-licensing/composer.lock') }}

      - run: composer install

      - run: vendor/bin/psalm
